{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- title row -->
  <div class="row">
    <div class="offset-md-4 col-lg-9">
      <div class="page-header">
        <h1>
          Todo List
        </h1>
      </div>
    </div>
  </div>

  <!-- Add a todo row -->
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'todolist_app:add' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" placeholder="Do laundry" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <label for="priority">Priority:</label>
            <input type="number" class="form-control" name="priority" placeholder="Priority" value="1">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <label for="priority">Due_Date:</label>
            <input type="date" class="form-control" name="due_date">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="category" placeholder="Category">
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="col-md-6">
            <input type="number" class="form-control" name="time_spent" placeholder="Time Spent">
          </div>
        </div> -->
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="tag" placeholder="Tag">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <button type="submit" name="submit" class="btn btn-outline-primary">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  

  <!-- todo list row -->
    <div class="col-md-6">
      <div class="list-group">
        {% for task in todo_list %}
        <div class="list-group-item {% if task.completed %} todo-complete {% endif %}">
          <form style="display: inline;" method="post" action="{% url 'todolist_app:update' task.id %}">
            {% csrf_token %}
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if task.completed %} checked {% endif %}
              class="todo-status-checkbox"
              title="{% if not task.completed %} mark as done {% else %} mark undone {% endif %}">
          </form>
          {{ task.title }} 
          <i class="far fa-folder"></i> {{ task.category }}
          <i class="fas fa-tags"></i> {{ task.tag }}
          <i class="far fa-clock"></i> {{ task.created_at }}
          <a href="{% url 'todolist_app:delete' task.id %}" title="Delete">
            <i class="far fa-trash-alt"></i>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  
  </div>
</div>

{% endblock %}
